.menumobile{
    height: 5000px;
	box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
	position: absolute;
	top: 63px;
	left: 0;
	z-index: 200;
	transform: translateX(-30em);
	transition: transform 0.5s ease-in;
}

.menumobile.open{
	transform: translateX(0);
}

@media (max-width: 768px) {
	.menumobile{
		position: absolute;
		top: 62px;
		left: 0;
	}
}

@media (max-width: 375px) {
	.menumobile{
		position: absolute;
		top: 55px;
		left: 0;
	}
}

@media (max-width: 414px) {
	.menumobile{
		position: absolute;
		top: 55px;
		left: 0;
	}
}
